* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.content{
	margin-bottom: 150px;
	margin-top: 200px;
	max-width: 700px;
	width: 100%;
	padding: 20px 20px;
	background: transparent;
	border: 2px solid white;
	border-radius: 8px;
}

#search{
	display: flex;
	width: 100%;
}

#searchbar{
	color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	background: transparent;
	height: 50px;
	font-weight: 500;
	padding: 10px 10px;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
}

#displayBox{
	display: flex;
	width: 100%;
}

#userInput{
	color: white;
	background: transparent;
	height: 50px;
	font-weight: 500;
	padding: 10px 10px;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 20px;
	width: 95%;
}

#submitForm{
	height: 50px;
	margin: 0 0 0 5px;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px 10px;
	font-size: 20px;
	width: 80px;
	background: transparent;
	color: white;
	cursor: pointer;
	font-weight: 700;
}

#list{
	margin: 10px 0 10px 0;
	padding: 20px;
}

#taskList{
	border-bottom: 2px solid white;
	padding: 5px 0 5px 0;
	display: flex;
	align-items: center;
}

#element{
	color: white;
	margin-left: 10px;
	border: none;
	background: transparent;
	padding: 0 20px 0 10px;
	font-size: 18px;
	font-weight: 700;
	flex: 1;
}

#todo-checkbox{
	cursor: pointer;
	width: 20px;
	height: 23px;
}

#editButton{
	color: white;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 10px;
	background: none;
	font-weight: 800;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
}

#saveButton{
	color: white;
	margin-left: 10px;
	display: none;
	border: 2px solid white;
	border-radius: 10px;
	background: none;
	font-weight: 800;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;

}

#deleteButton{
	font-size: 18px;
	border: none;
	background: none;
	color: red;
	font-weight: 900;
	cursor: pointer;
}

/* Also some random comment in a css file */
#sort{
	display: flex;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.primary-button {
	border: 3px solid white;
	border-radius: 10px ;
	padding: 10px;
	color: white;
	font-size: 15px;
	font-weight: 600;
	background: transparent;
	cursor: pointer;
}

#footer{
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

#filterButtons{
	display: flex;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

#showAll, #showCompleted, #showRemaining{
	border: 3px solid white;
	border-radius: 10px ;
	padding: 10px;
	color: white;
	font-size: 15px;
	font-weight: 600;
	background: transparent;
	cursor: pointer;
}

.checked{
	text-decoration: line-through;
}

.hide {
	display: none;
}

